* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

.nav_container {
  height: 10vh;
  width: 100vw;
  background-color: #27445d;
  color: white;
  display: flex;
  font-size: large;
}
.logo {
  height: 10vh;
  width: 20vw;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
.other_link {
  height: 10vh;
  width: 80vw;
  display: flex;
}
#ul_list {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}
.links {
  text-decoration-line: none;
  color: white;
  font-size: x-large;
}
.links:active {
  color: red;
  cursor: pointer;
}
.links:hover {
  text-decoration-color: crimson;
  text-decoration-line: underline;
}

.container_WI{
              height: 90vh;
              width: 100vw;
              background-color:#ed985f;
              display: flex;
              justify-content: center;
              align-items: center;
              
}
img{
             height: fit-content;
             width: fit-content;
}









.wrapper_F {
  height: 10vh;
  width: 100vw;
  font-size: 2vw;
  background-color: #27445d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner_content {
  height: auto;
  width: auto;
}
.hamburg {
  display: none;
  font-size: 40px;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  * {
    padding: 0;
  }

  .logo {
    font-size: larger;
  }

  .links {
    font-size: larger;
  }

  .box1,
  .box2,
  .box3,
  .box4 {
    height: 45vh;
    width: 100vw;
  }

  .inner_text {
    height: auto;
    width: auto;
    font-size: 6vw;
    font-weight: 500;
    color: black;
  }

  .wraper {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .wrapper_F {
    height: 10vh;
    width: 100vw;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
  }
  .inner_content {
    height: auto;
    width: auto;
  }
}

@media screen and (max-width: 650px) {
  .nav_container {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    height: 10vh;
    width: 25vw;
    font-size: 4.5vw;
    padding-left: 10vw;
  }

  #ul_list {
    height: 10vh;
    width: 75vw;
  }

  
  .inner_text {
    height: 100%;
    width: 100%;
    font-size: xx-large;
    padding: 0;
  }
  .box {
    height: 45vh;
    width: 100vw;
  }

  #img1,
  #img2 {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  #in_tex {
    height: 50vh;
    width: 50vw;
  }

    .hamburg {
      height: 40px;
      width: 30%;
      display: inline-block;
      font-size: 25px;
    }
    .hamburg_wrapper {
      height: 10vh;
      width: 50vw;
      display: flex;
      justify-content: flex-end;
      align-items: center;

    }
    .other_link {
      height: 100%;
      width: 70%;
      display: flex;
      justify-content: flex-end;
      padding-left: 2vw;
    }

    #ul_list {
      position: absolute;
      top: 10vh;
      right: 0;
      background-color: #27445d;
      flex-direction: column;
      width: 100%;
      height: auto;
      display: none;
      padding: 20px 0;
      
    }

    #ul_list.show {
      display: flex;
      justify-content: space-between;
            

      
    }

    .links {
      display: block;
      padding: 15px;
      font-size: large;

      
    }
       .container_WI{
              height: 90vh;
              width: 100vw;
              background-color:#ed985f;
              display: flex;
              justify-content: center;
              align-items: center;
              
}
img{
             height:fit-content;
             width: 90vw;
             
              
            }
  

  .wrapper_F {
    height: 10vh;
    width: 100vw;
    font-size: 5vw;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner_content {
    height: auto;
    width: auto;
  }

}